*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}

#center{
    text-align: center;
    position: absolute;
    height: 400px;
    width: 300px;
    top :50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(27, 198, 229, 0.779);
    border-radius: 20px;
    overflow: hidden;
}

#center img{
    height: 46%;
    width: 85%;
    margin:20px auto;
    margin-top: 30px;
    object-fit: cover;
    border-radius: 10px;
}
h3{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    font-weight: 900;
}
h1{
    font-weight:1000;
    color:red;
    font-size: 40px;
    -webkit-text-stroke: 0.5px white;
    margin-bottom: 10px;
} 

button{
    color:white;
    width: 100px;
    height: 40px;
    background-color: rgba(19, 36, 97, 0.367);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.newdivg{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
    border-radius: 21px;
}

.newdivg img{
    position: relative;
    transform: translate(0,100%);
     height: 100%;
     width: 100%;
     object-fit:cover;
     border-radius: 21px;
}
